<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>博客更新</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" th:href="@{/css/me.css}" />
		<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
	</head>
	<body>
		<!--导航-->
		<nav class="ui inverted attached segment m-padded-tb-th-mini">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item"><img th:src="@{/img/logo.png}" alt="" class="ui image" style="width: 1.3em;" /></h2>
					<a href="#" th:href="@{/userManagement}" class="item"><i class="home icon"></i>用户管理</a>
					<a href="#" th:href="@{/typeManagement}" class="item"><i class="idea icon"></i>分类管理</a>
					<a href="#" th:href="@{/blogManagement}" class="item"><i class="file icon"></i>文章管理</a>
					<div class="right item">
						<a href="" th:href="@{/loginOut}"><i class="sign out alternate link icon" ></i></a>
					</div>
				</div>
			</div>
		</nav>

		<!--中间内容-->
		<div class="m-padded-tb-lager m-container-lr">
			<div class="ui container">
				<form th:action="@{/blogUpdate}" method="post" class="ui form">
					<input name="id" type="hidden" class="form-control" th:value="${blog.id}">
					<div class="required field">
						<div class="ui labeled input" style="width: 120px">
							<div class="ui teal basic label" >昵称</div>
							<input type="text" placeholder="昵称.." name="username" th:value="${blog.username}" class="ui fluid input" />
						</div>
					</div>
					<div class="required field">
						<div class="ui labeled input">
							<div class="ui teal basic label" >标题</div>
							<input type="text" placeholder="标题.." name="title" class="ui fluid input" th:value="${blog.title}" />
						</div>
					</div>
					<div class="required field">
						<div class="" id="md-content" style="z-index: 1 !important;">
							<textarea placeholder="博客内容" name="content" style="display: none"  th:text="${blog.content}" ></textarea>
						</div>
					</div>

					<div class="required field">
						<div class="ui labeled input">
							<label class="ui teal basic label">简介</label>
							<input type="text" placeholder="内容简介" name="conIntroduction" th:value="${blog.conIntroduction}"/>
						</div>
					</div>

					<div class="required field">
						<div class="ui labeled input">
							<label class="ui teal basic label">首图</label>
							<input type="text" placeholder="首图引用地址" name="image" th:value="${blog.image}"/>
						</div>
					</div>
					<div class="required field">
						<div class="ui labeled input">
							<label class="ui teal basic label">分类</label>
							<div class="ui selection dropdown">
								<input type="hidden" name="typeName" th:value="${blog.typeName}"/>
								<i class="dropdown icon"></i>
								<div class="default text" style="color: black" th:text="${blog.typeName}">选择分类</div>
								<div class="menu">
									<div th:each="type:${types}" class="item" th:value="${type.typeName}" th:text="${type.typeName}">歌曲</div>
								</div>
							</div>
						</div>
					</div>
					<!--错误信息-->
					<div class="ui error message"></div>
					<div class="right aligned ui container">
						<button class="ui button" onclick="window.history.go(-1)" type="button">返回</button>
						<button class="ui blue button" type="submit">保存</button>
					</div>
				</form>
			</div>
		</div>

<!--		&lt;!&ndash;底部&ndash;&gt;-->
<!--		<div th:replace="~{common/commons::bottombar}"></div>-->


		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script th:src="@{/js/form-input.js}"></script>
		<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

		<script type="text/javascript">
			<!--初始化markdown编辑器-->
			var contentEditor;
			$(function() {
				contentEditor = editormd("md-content", {
					width   : "100%",
					height  : 640,
					syncScrolling : "single",
//        path    : "../static/lib/editormd/lib/"
					path    : "/lib/editormd/lib/"
				});
			});
			<!--初始化dropdown-->
			$(".ui.dropdown").dropdown();
		</script>
	</body>
</html>
