<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎入职邮件</title>
</head>
<body>
    欢迎<span th:text="${name}"></span>加入XXXX大家庭，您的职位信息如下：
    <table border="1">
        <tr>
            <td>姓名</td>
            <td th:text="${name}"></td>
        </tr>
        <tr>
            <td>职位</td>
            <td th:text="${posName}"></td>
        </tr>
        <tr>
            <td>职称</td>
            <td th:text="${joblevelName}"></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td th:text="${departmentName}"></td>
        </tr>
    </table>
    <p>asddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
</body>
</html>